body{
    background-color: orange;
    margin: 0px;
    padding: 0px;
    cursor: crosshair;
}
div{
    background-color:white;
    height:50px ;
    color: orange;
    padding-top: 10px;
}
h1,nav,h3{
    display: inline;
}
h3{
    border: 3px solid black;
    background-color: white;
    border-radius: 50px;
    padding: 5px;

}
nav{
    padding-left: 500px;
}
h3{
    padding: ;
}
